<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487642210725-tunugrht3ohatf69spj3qs4qvaa4hnuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487642210725-tunugrht3ohatf69spj3qs4qvaa4hnuc</string>
	<key>API_KEY</key>
	<string>AIzaSyAEHMTuLJhkYLJBDx1rAoWUm0BFjKxU5ns</string>
	<key>GCM_SENDER_ID</key>
	<string>487642210725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lyanalwakeel.Breast-cancer</string>
	<key>PROJECT_ID</key>
	<string>classification-27cf8</string>
	<key>STORAGE_BUCKET</key>
	<string>classification-27cf8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487642210725:ios:5e98a496dae979d8e2084c</string>
	<key>DATABASE_URL</key>
	<string>https://classification-27cf8-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>